<div>
    <div class="row resultset-header">
        <div class='resultset-header col-md-8'>
            {% if only_resultset %}
            Resultset
            {% else %}
            Resultset {{ resultset_number }}
            {% endif %}
            ({{rowcount}} rows)
        </div>
        <div class='col-md-4'>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
                    Download data <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/run/{{run_id}}/output/{{resultset_id}}/tsv?download=true">TSV</a></li>
                    <li><a href="/run/{{run_id}}/output/{{resultset_id}}/json?download=true">JSON</a></li>
                    <li><a href="/run/{{run_id}}/output/{{resultset_id}}/json-lines?download=true">JSON Lines</a></li>
                    <li><a href="/run/{{run_id}}/output/{{resultset_id}}/csv?download=true">CSV</a></li>
                    <li><a href="/run/{{run_id}}/output/{{resultset_id}}/csv?download=true&encoding=utf-16">Excel (UTF-16 CSV)</a></li>
                </ul>
            </div>
        </div>
    </div>
    <table class='table'></table>
</div>
